Repository rambler-digital-solutions/video-ad-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove umd bundle
  .gitignore
  .size-snapshot.json
  README.md
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: add size limit
  .size-limit.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: downgrade coverage thresholds for disabled sourcemaps
  jest.config.js
Due: prettier --write, eslint --fix

fix: move optional type from globals
  src/adContainer/helpers/loadScript.ts
  src/adUnit/helpers/icons/retrieveIcons.ts
  src/adUnit/helpers/media/findBestMedia.ts
  src/index.ts
  src/runner/run.ts
  src/runner/runWaterfall.ts
  src/tracker/helpers/createVastEventTracker.ts
  src/tracker/trackLinearEvent.ts
  src/types/globals.d.ts
  src/types/index.ts
  src/vastChain/getDetails.ts
  src/vastRequest/helpers/getNextAd.ts
  src/vastRequest/requestAd.ts
  src/vastSelectors/getIcons.ts
  src/vastSelectors/getLinearTrackingEvents.ts
  src/vastSelectors/getNonLinearTrackingEvents.ts
  src/vastSelectors/helpers/getLinearCreative.ts
  src/vastSelectors/helpers/parseOffset.ts
  src/vastSelectors/helpers/parseTime.ts
  src/vastSelectors/index.ts
  src/xml/helpers/xmlSelectors.ts
  src/xml/helpers/xmlToJson.ts
Due: prettier --write, eslint --fix

refactor: split types
  src/adUnit/VastAdUnit.ts
  src/adUnit/VpaidAdUnit.ts
  src/index.ts
  src/types/helpers.ts
  src/types/index.ts
  src/types/vast.ts
  src/types/xml.ts
  src/vastRequest/helpers/getNextAd.ts
  src/vastRequest/index.ts
  src/vastRequest/requestAd.ts
  src/vastRequest/requestNextAd.ts
Due: prettier --write, eslint --fix

docs: update readme with example
  README.md
Due: prettier --write

feat: support request options in runWaterfall, fix #60
  demo/index.ts
  src/runner/runWaterfall.ts
Due: prettier --write, eslint --fix

docs: add missed import to example
  README.md
Due: prettier --write

Notes added by 'git notes add'
  4942bd988cd4eb7b556ff9f904bc2443c06ffc8b
Due: none

docs: use own theme
  package.json
  typedoc.json
  yarn.lock
Due: prettier --write

docs: add description
  typedoc.json
Due: prettier --write

docs: fix readme
  typedoc.json
Due: prettier --write

feat: compile to ES2017
  .size-limit.json
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  067259156c7ce770975877be59f7ed04e1e0c779
Due: none

test: fix tests with new target
  src/adUnit/helpers/dom/elementObservers/__tests__/onElementResize.spec.ts
  src/adUnit/helpers/dom/elementObservers/__tests__/onelementVisibilityChange.spec.ts
Due: prettier --write, eslint --fix

chore: fix build
  .size-limit.json
  package.json
  tsconfig.lib.json
Due: prettier --write

chore: fix sizecheck
  package.json
Due: prettier --write

chore: update eslint config
  package.json
  yarn.lock
Due: prettier --write

fix: fix iOS load media
  .size-limit.json
  src/runner/runWaterfall.ts
Due: prettier --write, eslint --fix

chore: bump configs
  package.json
  yarn.lock
Due: prettier --write

test: fix iOS sync load test
  src/runner/__tests__/runWaterfall.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  beb021a6ad144bc6dcf85b016a9bb4fc0e9a0113
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{html,md,json})
  eslint --fix: any of: *.{js,ts}
